#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#plus-button {
  width: 44.35px;
  height: 44.35px;
  z-index: 1;
  position: fixed;
  top: 5px;
  right: 5px;
}

#plus-icon {
  position: fixed;
  top: -13px;
  right: 13px;
  font-size: 3em;
}

#note-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  justify-content: center;
  column-gap: 5px;
  row-gap: 10px;
}

.hideable {
  display: none;
}

#body-input {
  width: 100%;
}

.note {
  width: 250px;
  height: 350px;
}

.note:hover {
  box-shadow: 5px 5px rgba(0, 0, 255, 0.2);
  transition: box-shadow 0.1s, translate 0.1s;
  transition-timing-function: ease-out;
  transform: translate(-2px, -2px);
}

.note:active {
  box-shadow: 2.5px 2.5px rgba(0, 0, 255, 0.2);
  transform: translate(-1px, -1px);
}

.note-body {
  line-height: 1.3em;
  text-overflow: ellipsis;
}

.note-button {
  border-color: gray;
  background: none;
}

.note-button.text-dark:hover {
  border-color: black;
}

.note-button.text-light:hover {
  border-color: white;
}

#full-note-title {
  min-height: 40px;
  margin: 0;
}

#full-note-bg {
  position: relative;
  bottom: 0.2em;
  left: 2em;
  width: calc(100% - 4em);
  height: calc(100% - 4em);
}

html[dir="rtl"] #full-note-bg {
  right: 2em;
}

#search-and-sort {
  justify-content: space-around;
}

#search-bar.bg-dark::placeholder {
  color: white;
}

#search-bar.bg-light::placeholder {
  color: black;
}

#direction {
  height: 37.5px;
  width: 37.5px;
  display: inline-block;
}

#direction.up {
  transform: rotate(180deg);
}

#direction-arrow {
  height: 13.5px;
  width: 13.5px;
  position: relative;
  left: -1px;
  top: 0.5px;
  border: solid black;
  border-width: 3px 3px 0px 0px;
  transform: rotate(-225deg);
}

#settings {
  min-width: 300px;
  left: -300px;
  z-index: 1;
  transition: left 0.1s;
  transition-timing-function: ease-out;
}

#toggle-settings {
  position: fixed;
  top: 88.5%;
  left: 100%;
  height: 40px;
  width: 30px;
  white-space: pre-line;
  line-height: 0.5em;
  border-radius: 0px 5px 5px 0px;
}

#wipe-button {
  color: white;
}

.button-color {
  background-color: white;
}

.button-color:hover {
  background-color: lightgray;
}

.button-color:active {
  background-color: darkgray;
}

.no-select {
  user-select: none;
}

.x-button-container {
  height: 1rem;
  width: 1rem;
  position: absolute;
  right: 0px;
  top: 0px;
}

.x-button {
  cursor: pointer;
  transform: scale(2);
  display: block;
  position: relative;
  right: 13px;
  top: 9px;
}

html[dir="rtl"] .x-button-container {
  right: 90%;
}

.x-button:hover::before {
  background-color: lightgray;
}

.x-button:active::before {
  background-color: darkgray;
}

.toggle-container {
  width: 100%;
  padding: 6px;
}

.toggle-parent {
  height: 25px;
  width: 50px;
  cursor: pointer;
}

.toggle {
  height: 20px;
  width: 20px;
  display: inline-block;
  top: 0.15em;
  transition: left 100ms;
  transition-timing-function: ease-in-out;
}

.toggle[data-direction="right"] {
  left: 1.7em;
}

.toggle[data-direction="left"] {
  left: 0.1em;
}

@media screen and (max-width: 480px) {
  .hideable {
    width: 100%;
    min-height: 75%;
    top: 10vh;
  }

  /* Sizing manually because calc() is not supported by some versions of Android 
   (I don't currently have a way of testing on iPhone)*/
  #full-note-bg {
    left: 8%;
    width: 82%;
    bottom: 2%;
    height: 65vh;
  }

  #search-bar {
    width: 33vw;
  }

  #sort-select {
    width: 8em;
  }

  #settings {
    min-width: 50%;
    left: -50%;
  }

  .toggle-parent {
    height: 30px;
    width: 60px;
  }

  .toggle {
    height: 25px;
    width: 25px;
    top: 0.15em;
  }

  .toggle[data-direction="right"] {
    left: 1.9em;
  }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  .hideable {
    width: 75%;
    height: 75%;
    top: 10vh;
  }

  .toggle-parent {
    height: 30px;
    width: 60px;
  }

  .toggle {
    height: 25px;
    width: 25px;
    top: 0.15em;
  }

  .toggle[data-direction="right"] {
    left: 1.9em;
  }
}

@media screen and (min-width: 1025px) {
  .hideable {
    width: 50%;
    height: 75%;
    top: 10vh;
  }
}
